{% extends 'base.html' %}

{% block styles %} 
    <link type="text/css" href="{{ url_for('static', filename='styles/expenses/expenses.css')}}" rel="stylesheet" />
{% endblock styles %}

{% block btn %}  <li class="navbar-list-item"><a href="#" class="add-new-expense-btn js-open-modal">Add expense</a></li>{% endblock btn %}
{% block content %}
    {% if expenses and user %}

        <div class="expenses-modal">
            <h2 class="expeses-modal-title">Внесисите трату</h2>
            <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 
                9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/>
            </svg>
            <form class="add-expense-form"  method="post">
                {{add_expense_form.date(class_="modal_date")}}
                {{add_expense_form.amount(class_="modal_amount")}}
                {{add_expense_form.comment(class_="modal_comment")}}
                {{add_expense_form.category(class_="modal_category")}}
                {{add_expense_form.subcategory(class_="modal_subcategory")}}
                {{add_expense_form.submit(class_="add-expenses-submit")}}
            </form>
        </div>
        <div class="expense-overlay js-overlay-modal"></div>

        {% for expense in expenses %}
            <div class="expense">
                <div class="expense-avatar"><img src="images/wallet-info.png" alt="wallet"></div>
                <div class="expense-container">
                    <div class="expense-date-container">
                        <div class="expense-date">{{expense[1]}}</div>
                        <div class="expense-category">{{expense[0]}}</div>
                    </div>

                    <div class="expense-amount-container">
                        <div class="expense-comment">{{expense[3]}}</div>
                        <div class="expense-amount">{{expense[2]}}</div>
                    </div>
                </div>
                <div class="expense-edit"><img src="images/editing.png" alt="edit"></div>
                <div class="expense-delete"><img src="images/delete.png" alt="delete"></div>
            </div>
        {% endfor %}

    {% elif user %}
        <h2> Пока у вас нет никаких расходов :(</h2>
    {% endif %}
{% endblock content %}

{% block scripts %} 
    <script type="text/javascript" src="js/expeses.js"></script>
{% endblock scripts %}