{% extends 'base.html' %}

{% block styles %} 
    <link type="text/css" href="{{ url_for('static', filename='styles/incomes/incomes.css')}}" rel="stylesheet" />
{% endblock styles %}

{% block btn %}  <li class="navbar-list-item"><a href="#" class="add-new-income-btn js-open-modal">Add income</a></li>{% endblock btn %}
{% block content %}
    {% if incomes and user %}

        <div class="incomes-modal">
            <h2 class="incomes-modal-title">Внесисите доход</h2>
            <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 
                9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/>
            </svg>
            <form class="add-income-form"  method="post">
                {{add_income_form.date(class_="modal_date")}}
                {{add_income_form.amount(class_="modal_amount")}}
                {{add_income_form.comment(class_="modal_comment")}}
                {{add_income_form.category(class_="modal_category")}}
                {{add_income_form.subcategory(class_="modal_subcategory")}}
                {{add_income_form.submit(class_="add-income-submit")}}
            </form>
        </div>
        <div class="incomes-overlay js-overlay-modal"></div>

        {% for income in incomes %}
            <div class="income">
                <div class="income-avatar"><img src="images/wallet-info.png" alt="wallet"></div>
                <div class="income-container">
                    <div class="expincomeense-date-container">
                        <div class="income-date">{{income[2]}}</div>
                        <div class="income-category">{{income[1]}}</div>
                    </div>

                    <div class="income-amount-container">
                        <div class="income-comment">{{income[0]}}</div>
                        <div class="income-amount">{{income[3]}}</div>
                    </div>
                </div>
                <div class="income-edit"><img src="images/editing.png" alt="edit"></div>
                <div class="income-delete"><img src="images/delete.png" alt="delete"></div>
                
            </div>
        {% endfor %}



    {% elif user %}
        <h2> Пока у вас нет никаких доходов :(</h2>
    {% endif %}
{% endblock content %}

{% block scripts %} 
    <script type="text/javascript" src="js/incomes.js"></script>
{% endblock scripts %}